.emailList {
    width: 100%;
    min-width: 600px;
    /* overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    */

    &__settings {
        position: sticky;
        top: 70px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-bottom: 1px solid whitesmoke;
        z-index: 99999;
        padding-right: 10px;
        padding-left: 5px;
        width: 100vw;
        max-width: 100%;

        &__left {
        }

        &__right {
        }
    }

    &__list {
        padding-bottom: 4%;
        overflow: scroll;
        overflow-x: hidden;
        height: calc(100vh - 120px);
        margin-right: 50px;

        .emailList__sections {
            display: flex;
            border-bottom: 1px solid whitesmoke;
            z-index: 999999;
        }
    }
}

@media screen and (max-width: 660px) {
    .emailList {
        min-width: 0;
        max-width: 600px;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
        &__settings {
            display: none;
        }

        &__list {
            overflow: initial;
            margin-right: 0px;
            width: 100vw;
            .emailList__sections {
                display: none;
            }
        }
    }
}
