.sidebarOption {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px 0 25px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: rgb(91, 91, 91);
    margin-right: 30px;
    min-width: 200px;

    &:hover,
    &:hover p,
    &:hover h3 {
        background-color: #fcecec;
        color: #c04b37;
        font-weight: 800;
    }

    .MuiSvgIcon-root {
        padding-left: 5px;
        transition: all 0.2s linear;
    }

    h3 {
        flex: 1;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 400;
    }

    p {
        font-weight: 300;
        display: none;
    }
}
.sidebarOption--active {
    background-color: #fcecec;
    color: #c04b37;
    p {
        display: inline;
    }
    p,
    h3 {
        font-weight: 800;
    }
}

.sidebarOption--hide {
    width: 40px;
    height: 40px;
    min-width: 0px;
    border-radius: 40px;
    margin-left: 22px;
    padding-left: 2px;
    padding-top: 2px;
    margin-bottom: 5px;
    overflow: hidden;

    .MuiSvgIcon-root {
        font-size: 32px;
    }
}

@media screen and (max-width: 600px) {
    .sidebarOption--hide {
        width: 95%;
        height: 40px;
        min-width: 200px;
        border-radius: 40px;
        padding-left: 20px;
        padding-top: 2px;
        margin-bottom: 5px;
        margin-left: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}
