.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 0 20px 0 8px;
    position: sticky;
    top: 0;
    z-index: 9999;

    &__left {
        display: flex;
        align-items: center;
        img {
            object-fit: contain;
            height: 40px;
            margin-left: 5px;
        }
    }
    &__middle {
        display: flex;
        flex: 0.7;
        align-items: center;
        background-color: whitesmoke;
        padding: 5px 10px;
        margin: 10px;
        border-radius: 10px;
        label {
            display: flex;
            align-items: center;
            flex-basis: 100%;

            .MuiSvgIcon-root {
                cursor: pointer;
                color: gray;
            }

            input {
                width: 100%;
                border: none;
                padding: 10px;
                outline-width: 0;
                font-size: medium;
                background-color: transparent;
            }
        }

        .header__inputCaret {
            width: 28px;
            margin-left: auto;
            cursor: pointer;
        }
    }
    &__right {
        display: flex;
        align-items: center;

        .MuiAvatar-root.MuiAvatar-circular {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 850px) {
    .header {
        &__right {
            button {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .header {
        padding: 0;
        &__left {
            button {
                position: absolute;
                left: 10px;
            }
            img {
                display: none;
            }
        }
        &__middle {
            flex: 1;
            border-radius: 100px;
            label {
                .searchIcon {
                    display: none;
                }

                input {
                    margin-left: 30px;
                }
            }
            .header__inputCaret {
                display: none;
            }
        }
        &__right {
            .MuiAvatar-root.MuiAvatar-circular {
                position: absolute;
                right: 30px;
                width: 28px;
                height: fit-content;
            }
        }
    }
}
