.sidebarMobile {
    display: none;
}
.sidebarMobileHeader {
    display: none;
}

.sidebar {
    min-width: 250px;
    height: fit-content;
    position: sticky;
    top: 70px;

    .sidebarWrapper {
        overflow: scroll;
        overflow-x: hidden;
        height: calc(100vh - 72px);

        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
    }
    .sidebar-scroll {
        position: sticky;
        top: 0;
        overflow: hidden;
        background-color: white;
        box-shadow: 0 -3px 4px 2px gray;
        z-index: 9;
    }
    .sidebar__compose {
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 15px;
        padding: 10px 20px 10px 12px;
        text-transform: capitalize;
        border-radius: 30px;
        box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.75);
        font-weight: bolder;

        &:hover {
            box-shadow: 0 4px 10px -3px gray;
            background-color: white;
        }

        img {
            margin-right: 10px;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}
.sidebar-activate {
    min-width: 0;
    .sidebar__compose {
        padding: 0;
        height: 60px;
        img {
            margin-right: 0;
        }
        .compose__text {
            display: none;
        }
    }
    .sidebar__footer {
        border-top: 1px solid rgba(211, 211, 211, 0.4);
        justify-content: flex-start;
        .sidebar__footerIcon {
            display: flex;
            flex-direction: column;
            margin-left: 18px;
        }
    }
}

@media screen and (max-width: 850px) {
    .sidebar {
        display: none;
    }
    .sidebarMobile {
        display: block;
        // position: absolute;
        position: fixed;
        top: 0;
        width: 100vw;
        max-width: initial;
        height: 100vh;
        z-index: -999999;
        background-color: rgba(0, 0, 0, 0.65);
        opacity: 0;
        transition: all 0.3s ease-in-out;

        .sidebarWrapper {
            width: 500px;
            max-width: 70%;
            height: 100%;
            position: absolute;
            top: 0px;
            z-index: 999999;
            background-color: rgb(250, 250, 250);
            transform: translateX(-100%);
            transition: all 0.3s ease-in-out;

            .sidebarMobileHeader {
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 20px;
                font-size: 24px;
                color: rgb(243, 38, 38);
                font-weight: bolder;
                border-bottom: 1px solid rgba(211, 211, 211, 0.4);
                margin-bottom: 10px;
                transition: all 0.1s linear;

                &:hover {
                    background-color: rgb(243, 234, 234);
                }

                svg {
                    margin-right: 25px;
                    color: rgba(0, 0, 0, 0.8);
                    border-radius: 100px;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        background-color: rgba(0, 0, 0, 0.75);
                        color: rgb(255, 255, 255, 0.9);
                    }

                    &:active {
                        transition: all 0s linear;
                        transform: scale(1);
                    }
                }
            }

            .sidebar__compose {
                display: none;
                &:hover {
                    box-shadow: 0 4px 10px -3px gray;
                    background-color: white;
                }

                img {
                    margin-right: 10px;
                }
            }

            &__footer {
                display: flex;
                justify-content: center;
            }
        }
    }

    .sidebar-activate {
        z-index: 999999999999;
        opacity: 1;
        .sidebarWrapper {
            transform: translateX(0);
            overflow: scroll;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none; /* for Chrome, Safari, and Opera */
            }
            .sidebarMobileHeader {
                position: sticky;
                top: 0;
                background-color: whitesmoke;
                z-index: 999;
            }
        }
        .sidebar__footer {
            justify-content: center;
            .sidebar__footerIcon {
                flex-direction: row;
            }
        }
    }
}
