.app {
    /* width: 100%; */
    min-height: 100vh;
}

.app__body {
    /* width: 100%; */
    display: flex;
}

@media screen and (max-width: 660px) {
    .sidebar-vp--hidden {
        overflow: hidden;
    }
}
